.align-horizontally, .align-vertically {
  display: flex;
  justify-content: center; }

.align-vertically {
  align-items: center; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #222831;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0; }

main {
  width: 80%;
  margin: auto; }

header {
  color: #fd7014; }

.menu {
  justify-content: center; }

#status {
  text-align: right; }
  #status .status-text {
    color: #fd7014;
    font-size: large;
    line-height: 0.5; }

#question-card {
  margin: auto;
  width: 70%; }
  #question-card h1 {
    color: #fd7014;
    text-align: center; }
  #question-card a {
    display: block;
    margin-bottom: 15px; }

#btn-start {
  text-align: center; }
  #btn-start .btn {
    width: 30%;
    line-height: 3;
    font-size: x-large; }
