@import "./imports/_variables.scss";
@import "./imports/dashboard.scss";

// General
html {
	scroll-behavior: smooth;
}

body {
	background-color: $principalBgColor;
	font-family: $principalFont;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

main {
	width: 80%;
	margin: auto;
}

// Bootstrap style changes
.btn {
	border: 0;
}

.btn-primary {
	background-color: $primaryColor !important;
	border-color: $primaryColor !important;

	&:hover {
		background-color: rgba($color: $primaryColor, $alpha: 0.5) !important;
		border-color: rgba($color: $primaryColor, $alpha: 0.5) !important;
	}

	&:focus {
		@extend .btn-primary;
		box-shadow: none;
		outline: none;
	}
}

.disabled {
	@extend .btn-primary;
}

.text-primary {
	--bs-primary-rgb: 253, 112, 20;
}

// header
header {
	color: $primaryColor;
	box-shadow: 0px 5px 5px rgba($color: black, $alpha: 0.2);
}

// main
h1 {
	text-align: center;
	color: $primaryColor;
	margin-bottom: 50px;
}

#form-player {
	text-align: center;

	form {
		.form-group {
			margin-bottom: 20px;
			label {
				color: $primaryColor;
				margin-bottom: 10px;
			}

			.form-control {
				margin: auto;
				width: 50%;
			}
		}
	}

	.btn {
		width: 20%;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 15px;
		box-shadow: 10px 5px 5px rgba($color: black, $alpha: 0.2);
	}
}

#status {
	display: none;

	.container {
		.row {
			place-content: center;
		}

		.container-item {
			background: linear-gradient(180deg, rgba(57, 62, 70, 1) 0%, rgba(57, 62, 70, 0.5) 100%);
			border-radius: 20px;
			box-shadow: 10px 5px 5px rgba($color: black, $alpha: 0.2);
			margin-bottom: 20px;
			padding: 10px;

			img {
				width: 40px;
			}

			p {
				display: inline-block;
				margin-bottom: 8px;
			}
		}
	}

	p {
		color: $primaryColor;
		font-size: large;
	}

	.dropdown {
		#dropdownMenuButton {
			margin-bottom: 16px;
			box-shadow: 0px 5px 5px rgba($color: black, $alpha: 0.2);
		}

		.dropdown-toggle {
			min-width: 180px;
		}
	}
}

#question-container {
	#loading-spinner {
		display: none;
		width: 7rem;
		height: 7rem;
		margin: auto;
	}

	#question-card {
		display: none;
		margin: auto;
		width: 70%;
		background: linear-gradient(180deg, rgba(57, 62, 70, 1) 0%, rgba(57, 62, 70, 0.5) 100%);
		border-radius: 20px;
		box-shadow: 10px 5px 5px rgba($color: black, $alpha: 0.2);

		h1 {
			margin-bottom: 0;
			font-size: 2rem;
			color: $primaryColor;
			text-align: center;
		}

		.divider {
			border: 1px solid rgba($color: $secundaryColor, $alpha: 0.2);
			width: 100%;
			margin: 20px 0;
			box-shadow: 2px 1px 1px rgba($color: black, $alpha: 0.2);
		}

		.options {
			width: 50%;
			margin: auto;

			a {
				display: block;
				padding-top: 10px;
				padding-bottom: 10px;
				margin-bottom: 15px;
				box-shadow: 10px 5px 5px rgba($color: black, $alpha: 0.2);
			}
		}
	}
}

#start-btn-container {
	display: none;
	text-align: center;

	#start-btn {
		width: 30%;
		line-height: 3;
		font-size: x-large;
	}
}

#popup {
	display: none;
	width: 50%;
	text-align: center;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $secundaryBgColor;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 10px 5px 5px rgba($color: black, $alpha: 0.2);

	p {
		font-size: large;
		color: $primaryColor;
	}
}

#alert-answer {
	max-width: 30%;
	position: absolute;
	bottom: 20%;
	right: 10%;

	p {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 10px;
		font-size: large;
		color: $primaryColor;
		background-color: $secundaryBgColor;
		padding: 5px;
		border-radius: 5px;
		box-shadow: 10px 5px 5px rgba($color: black, $alpha: 0.2);
	}
}

@media only screen and (min-width: 1100px) {
	main {
		width: 50%;
	}

	#popup {
		width: 30%;
	}
}
